body{background-color:#27272a;font:normal 1em/1.38 'Inter Regular';color:rgb(255, 255, 255);}

button{display:block;float:left;border-radius:3px;font-family:'Manrope Bold';font-size:1em;text-align:center;}

.container{float:left;}

.element{float:left;width:48px;min-width:48px;height:48px;min-height:48px;background-repeat:no-repeat;background-position:center center;}

.text{float:left;clear:both;}

.container-1{width:100%;min-width:1300px;height:574px;min-height:574px;max-height:574px;background-color:rgb(77, 44, 52);}

.container-2{position:relative;clear:both;z-index:3;width:39.1666666666%;min-width:509px;height:166px;min-height:166px;max-height:166px;margin:25px 0 0 10%;border-radius:12px;background-color:rgb(46, 46, 48);}

.container-3{position:relative;z-index:11;width:39.1666666666%;min-width:509px;height:166px;min-height:166px;max-height:166px;margin:25px 0 0 1.63101%;border-radius:12px;background-color:rgb(46, 46, 48);}

.container-4{position:relative;clear:both;z-index:7;width:38.3854166666%;min-width:509px;height:166px;min-height:166px;max-height:166px;margin:25px 0 0 10%;border-radius:12px;background-color:rgb(46, 46, 48);}

.container-5{position:relative;z-index:15;width:39.17%;min-width:509px;height:166px;min-height:166px;max-height:166px;margin:25px 0 0 1.64543%;border-radius:12px;background-color:rgb(46, 46, 48);overflow:auto;}

.element-1{position:relative;z-index:16;margin:6px 0 0 10%;background-image:url('../images/logo.png');background-size:48px 48px;background-color:rgba(255, 255, 255, 0);}

.element-2{margin:15px 0 0 3.08108%;border-radius:12px;background-image:url('../images/globe-showing-europe-africa(2).png');background-size:32px 32px;background-color:rgb(63, 63, 68);}

.element-3{margin:15px 0 0 3.08108%;border-radius:12px;background-image:url('../images/linked-paperclips.png');background-size:32px 32px;background-color:rgb(63, 63, 68);}

.element-4{margin:15px 0 0 3.08202%;border-radius:12px;background-image:url('../images/crystal-ball.png');background-size:32px 32px;background-color:rgb(63, 63, 68);}

.element-5{margin:15px 0 0 3.08108%;border-radius:12px;background-image:url('../images/beach-with-umbrella.png');background-size:32px 32px;background-color:rgb(63, 63, 68);}

.text-1{margin:38px 0 0 10%;font-family:'Manrope Bold';font-size:2em;color:rgb(255, 255, 255);}

.text-10,.text-4,.text-6{margin:15px 0 0 3.08108%;font-family:'Manrope Bold';font-size:2em;color:rgb(255, 255, 255);}

.text-11,.text-5,.text-7{margin-left:3.08108%;font-size:1em;color:rgb(226, 226, 226);}

.text-2{margin-left:10%;font-size:1em;color:rgb(255, 255, 255);}

.text-3{margin:18px 0 0 10%;font-size:1em;color:rgb(255, 255, 255);}

.text-8{margin:15px 0 0 3.08202%;font-family:'Manrope Bold';font-size:2em;color:rgb(255, 255, 255);}

.text-9{margin-left:3.08202%;font-size:1em;color:rgb(226, 226, 226);}

.container ._button-1{position:relative;z-index:17;width:74px;min-width:74px;height:24px;min-height:24px;margin:16px 0 0 1.32813%;background-color:rgba(222, 222, 222, 0);color:#ff7ea5;}

.container ._button-2{position:relative;z-index:18;width:74px;min-width:74px;height:24px;min-height:24px;margin:16px 0 0 0.81611%;background-color:rgba(222, 222, 222, 0);color:rgb(255, 255, 255);-webkit-transition:0.15s;-moz-transition:0.15s;-o-transition:0.15s;-ms-transition:0.15s;transition:0.15s;}

.container ._button-2:hover{color:#ff7ea5;}

.container ._button-3{clear:both;width:13.6%;min-width:169px;height:29px;margin:10px 0 0 10%;background-color:rgb(255, 255, 255);color:rgb(0, 0, 0);}

.container ._button-3:hover{background-color:rgb(225, 225, 225);}

.text span{border-top-width:0;border-right-width:0;border-bottom-width:0;border-left-width:0;border-color:transparent;border-style:none;border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:0;background-color:transparent;font-family:inherit;font-style:inherit;font-size:inherit;font-weight:inherit;text-transform:inherit;text-decoration:inherit;letter-spacing:inherit;word-spacing:inherit;opacity:1;word-break:normal;word-wrap:normal;white-space:normal;}

.text-1 span{color:#a855f7;}

.text-2 span{color:#b65eea;}